   .jumbotron {


   	 background: url("http://i.imgur.com/3qBoHtk.png") center center;

   	}


   	.drop {




   	}


   	.portfolio-image {

   			background-color: #FFF;

   	}

   	.portfolio-image:hover img { opacity : .5; }