   .jumbotron {


   	 background: url("http://i.imgur.com/3qBoHtk.png") center center;

   	}


   	.drop {




   	}


   	.img-thumbnail {

   			background-color: #FFF;

   	}

   	.img-thumbnail:hover img { opacity : .5; }