   .jumbotron {


   	 background: url("http://i.imgur.com/3qBoHtk.png") center center;

   	}


   	.drop {




   	}


   	.img-portfolio {

   		transition: background-color 0.5s ease;
   		background-color: red;

   	}

   	.img-portfolio:hover {

   		background-color:green;	
   		opacity: .5;
   	}